<div
  class="relative flex size-full flex-col items-end justify-end"
  [style.minHeight.px]="minScrollHeight"
  #logContainer
>
  <div class="w-full shrink-0" [style.marginBottom.px]="bottomSpace" #messageContainer>
    @if (chatMessages.length) {
      @for (chatMessage of chatMessages; track trackByChatMessage($index, chatMessage)) {
        @if (chatMessage.isDisplayable) {
          <chat-message
            [chatMessage]="chatMessage"
            [simpleDispFlagTime]="!!chatTabList?.simpleDispFlagTime"
            [simpleDispFlagUserId]="!!chatTabList?.simpleDispFlagUserId"
            [chatSimpleDispFlag]="!!chatTab?.chatSimpleDispFlag"
            [readOnly]="readOnly()"
          >
          </chat-message>
        }
      }
    }
    @if (!chatMessages.length && !readOnly()) {
      @for (chatMessage of sampleMessages; track chatMessage) {
        <chat-message
          [chatMessage]="chatMessage"
          [simpleDispFlagTime]="false"
          [simpleDispFlagUserId]="false"
          [chatSimpleDispFlag]="false"
        >
        </chat-message>
      }
    }
  </div>
</div>
